// Standard mode
$body: #e2f1fa;
$main: #f4fafc;
$input: #cbdfea;
$accent: #61d0d8;
$secondAccent: #67b6f4;
$progress: #47e5c2;
$progressGradient: #61c4e7;
$progressGradient2: #6786f4;
$button: #ac51fc;
$buttonPress: #995dcd;
$link: #0091ff;
$linkHover: #0082c2;
$font: #292f37;

// Dark mode
$body2: #1a1a30;
$main2: #14171c;
$input2: #272838;
$accent2:#0edb94;
$secondAccent2:#08f6a2;
$progress2: #463fb7;
$darkProgressGradient: #6644d1;
$darkProgressGradient2: #7d43b2;
$button2: #0edb94;
$buttonPress2: #08f6a2;
$link2: #ffd679;
$link2Hover: #ffb300;
$font2: #eaeaea;