// Standard mode
$body: #ffffff;
$main: #f0f8ff;
$input: #d4dbe2;
$accent: #0088ff;
$altAccent: #0177de;
$font1: #00000080;

// Dark mode
$darkBody: #000000;
$darkMain: #080808;
$darkInput: #232323;
$darkAccent:#0177de;
$darkAltAccent:#309eff;
$darkFont1: #eaeaea;