// Standard mode
$body: #ffffff;
$main: #f0f8ff;
$input: #d4dbe2;
$accent: #0088ff;
$secondAccent: #0177de;
$font: #00000080;

// Dark mode
$body2: #1a1a30;
$main2: #181c22;
$input2: #272838;
$accent2:#0edb94;
$secondAccent2:#08f6a2;
$hyperlink2: #ffd679;
$secondHyperlink2: #ffb300;
$font2: #eaeaea;