@import "_color";
@import "_nav";
@import "_aside";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overscroll-behavior: none;

    body {
        overflow: visible;
        background-color: $body;

        main {
            display: flex;
            flex-direction: column;
            row-gap: 200px;
            padding: 10%;
            // background-color: $main;
            background-image: linear-gradient(to bottom right, $body, $main, $body);

            .about {
                img {
                    display: block;
                    width: 90%;
                    margin: 0 auto;
                    border-radius: 3px;
                }

                .hello {
                    padding-top: 15px;

                    h1 {
                        font-size: 28px;
                    }

                    p {
                        font-size: 18px;
                        margin-top: 10px;
                        font-style: italic;
                        color: $font;
                    }
                }

                a {
                    text-decoration: none;

                    #download {
                        display: block;
                        background-color: $button;
                        border: none;
                        border-radius: 3px;
                        color: $main;
                        font-size: 18px;
                        padding: 10px 20px;
                        margin-top: 10px;
                        cursor: pointer;
                    }

                    #download:hover {
                        background-color: $buttonPress;
                    }
                }
            }

            .skills {
                width: 100%;

                h2 {
                    margin-bottom: 20px;
                    font-size: 24px;
                }

                label {
                    font-size: 18px;
                }

                .progress-bar-container {
                    width: 100%;
                    height: 40px;
                    background-color: $input;
                    border-radius: 3px;
                    overflow: hidden;
                    margin: 10px 0 20px 0;
                    position: relative;

                    .progress-bar-indicator {
                        height: 100%;
                        -webkit-mask: linear-gradient(#fff 0 0);
                        mask: linear-gradient(#fff 0 0);
                    }

                    .progress-bar-indicator::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        background-image: linear-gradient(to right, $progress, $progressGradient, $progressGradient2);
                    }

                    #html {
                        width: 85%;
                    }

                    #css {
                        width: 75%;
                    }

                    #js {
                        width: 45%;
                    }

                    #php {
                        width: 35%;
                    }

                    #sql {
                        width: 35%;
                    }

                }
            }

            .portfolio {
                h2 {
                    margin-bottom: 20px;
                }

                p {
                    margin-bottom: 20px;
                    font-size: 18px;
                }

                h3 {
                    margin-bottom: 10px;
                }

                video {
                    width: 100%;
                    z-index: -1;
                    border-radius: 3px;
                }
            }

            .links {

                h2 {
                    font-size: 24px;
                    margin-bottom: 20px;
                }

                ul {
                    li {
                        list-style: none;
                        margin-bottom: 20px;

                        a {
                            font-size: 18px;
                            text-decoration: none;
                            color: $link;

                            img {
                                width: 35px;
                                height: auto;
                                margin-right: 20px;
                            }
                        }

                        a:hover {
                            text-decoration: underline;
                            color: $linkHover;
                        }
                    }
                }
            }

            .contact {
                width: 100%;

                #honey {
                    display: none;
                }

                h2 {
                    font-size: 24px;
                    margin-bottom: 20px;
                }

                p {
                    font-size: 18px;
                }

                form {
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;
                    margin-top: 20px;

                    input {
                        height: 50px;
                        border: none;
                        border-radius: 2px;
                        background-color: $input;
                        font-size: 18px;
                        padding: 0 10px;
                        caret-color: $font;
                    }

                    input:-webkit-autofill,
                    input:-webkit-autofill:hover,
                    input:-webkit-autofill:focus,
                    input:-webkit-autofill:active {
                        box-shadow: 0 0 0 30px $input inset !important;
                        color: $font;
                    }

                    input::placeholder {
                        font-style: italic;
                        color: $font;
                    }

                    input:focus {
                        outline: none;
                        // border-bottom: solid 4px $accent;
                    }

                    input:hover {
                        outline: none;
                    }

                    input:focus::placeholder {
                        color: transparent;
                    }

                    #email {
                        text-transform: lowercase;
                    }

                    #email::placeholder {
                        text-transform: none;
                    }

                    #email:focus::placeholder {
                        text-transform: none;
                    }

                    #email:focus {
                        text-transform: lowercase;
                    }

                    textarea {
                        box-sizing: border-box;
                        background-color: $input;
                        border: none;
                        border-radius: 2px;
                        min-height: 200px;
                        max-width: 100%;
                        resize: vertical;
                        font-size: 18px;
                        padding: 10px;
                        caret-color: $font;
                        overflow-y: scroll;
                        resize: none;
                        overflow: auto;
                    }

                    textarea::placeholder {
                        font-style: italic;
                        color: $font;
                    }

                    textarea:focus {
                        outline: none;
                    }

                    textarea:focus::placeholder {
                        color: transparent;
                    }

                    #send {
                        width: 60%;
                        margin: 5px auto 0;
                        right: 0;
                        background-color: $button;
                        color: $main;
                        cursor: pointer;
                    }

                    #send:hover {
                        background-color: $buttonPress;
                        border-bottom: none;
                    }
                }
            }
        }

        .success {
            section {
                h2 {
                    font-size: 24px;
                    padding: 0 0 20px 0;
                }

                p {
                    padding: 0 0 10px 0;
                }

                a {
                    text-decoration: none;
                    color: $accent;
                }

                a:hover {
                    text-decoration: underline;
                    color: $secondAccent;
                }
            }
        }
    }

    @media only screen and (min-width: 768px) {

        body {

            nav {
                display: none;
            }

            display: grid;
            grid-template-columns: 80vw;
            grid-template-areas: "main";
            justify-content: center;

            aside {
                display: none;
            }

            main {
                width: 100%;
                padding: 10%;
                margin: 0 auto;
                row-gap: 150px;

                .about {
                    display: flex;
                    justify-content: center;
                    padding: 0;
                    column-gap: 50px;

                    img {
                        width: 250px;
                        margin: 0;
                    }

                    .hello {
                        padding: 0;
                        margin: auto 0 0px;

                        h1 {
                            font-size: 32px;
                        }

                        p {
                            font-size: 20px;
                        }

                        #download {
                            font-size: 24px;
                            margin-top: 25px;
                        }
                    }
                }

                .skills {

                    h2 {
                        font-size: 30px;
                    }

                    label {
                        font-size: 20px;
                    }

                    .skill {
                        height: 50px;
                        margin: 10px 0 20px;
                    }
                }

                .portfolio {
                    h2 {
                        font-size: 30px;
                        margin-bottom: 20px;
                    }

                    p {
                        margin-bottom: 20px;
                        font-size: 20px;
                    }

                    h3 {
                        margin-bottom: 10px;
                        font-size: 20px;
                    }
                }

                .links {
                    h2 {
                        font-size: 30px;
                    }

                    ul {
                        li {
                            a {
                                font-size: 22px;

                                img {
                                    width: 40px;
                                }
                            }
                        }
                    }
                }

                .contact {
                    width: 100%;

                    h2 {
                        font-size: 30px;
                    }

                    p {
                        font-size: 20px;
                    }

                    form {
                        flex-wrap: wrap;
                        flex-direction: row;
                        row-gap: 15px;
                        column-gap: 2.4%;

                        input {
                            flex-shrink: 0;
                            height: 50px;
                            font-size: 20px;
                        }

                        #name {
                            width: 48.8%;
                        }

                        #email {
                            width: 48.8%;
                        }

                        #subject {
                            width: 100%;
                        }

                        textarea {
                            width: 100%;
                            font-size: 20px;
                        }

                        #send {
                            width: 100%;
                        }
                    }
                }
            }

            .success {
                padding: 10%;
                margin: 10% auto;

                section {
                    h2 {
                        font-size: 30px;
                        padding: 0 0 20px 0;
                    }

                    p {
                        padding: 0 0 10px 0;
                        font-size: 20px;
                    }

                    a {
                        right: 0;
                        font-size: 20px;
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 1024px) {
        body {
            main {
                padding: 10%;
                width: 90%;
            }
        }
    }

    @media only screen and (min-width: 1440px) {
        body {
            main {
                padding: 10%;
                width: 80%;
            }
        }
    }

    @media only screen and (min-width: 2560px) {
        body {
            main {
                padding: 10%;
                width: 60%;
            }
        }
    }

    @media (prefers-color-scheme: dark) {

        body {
            background-color: $body2;

            main {
                background-image: linear-gradient(to bottom right, $body2, $main2, $body2);

                .about {
                    .hello {
                        h1 {
                            color: $font2;
                        }

                        p {
                            color: $font2;
                        }
                    }

                    a {

                        #download {
                            background-color: $button2;
                            color: $main2;
                        }

                        #download:hover {
                            background-color: $buttonPress2;
                        }
                    }
                }

                .skills {

                    h2 {

                        color: $font2;
                    }

                    label {
                        color: $font2;
                    }

                    .progress-bar-container {
                        background-color: $input2;

                        .progress-bar-indicator::before {
                            background-image: linear-gradient(to right, $progress2, $darkProgressGradient, $darkProgressGradient2);
                        }
                    }
                }

                .portfolio {
                    h2 {
                        color: $font2;
                    }

                    p {
                        color: $font2;
                    }

                    h3 {
                        color: $font2;
                    }
                }

                .links {

                    h2 {
                        color: $font2;
                    }

                    ul {
                        li {
                            a {
                                color: $link2;

                                #linkedin {
                                    content: url(img/svg/linkedin-darkmode.svg);
                                }

                                #github {
                                    content: url(img/svg/github-darkmode.svg);
                                }

                                #paperplane {
                                    content: url(img/svg/paper-plane-darkmode.svg);
                                }


                            }

                            a:hover {
                                color: $link2Hover;
                            }
                        }
                    }
                }

                .contact {
                    h2 {
                        color: $font2;
                    }

                    p {
                        color: $font2;
                    }

                    form {

                        input {
                            color: $font2;
                            background-color: $input2;
                            caret-color: $font2;
                        }

                        input:-webkit-autofill,
                        input:-webkit-autofill:hover,
                        input:-webkit-autofill:focus,
                        input:-webkit-autofill:active {
                            box-shadow: 0 0 0 30px $input2 inset !important;
                            color: $font2;
                        }

                        input::placeholder {
                            color: $font2;
                        }

                        textarea {
                            background-color: $input2;
                            caret-color: $font2;
                            color: $font2;
                        }

                        textarea::placeholder {
                            color: $font2;
                        }

                        #send {
                            background-color: $button2;
                            color: $main2;
                        }

                        #send:hover {
                            background-color: $buttonPress2;
                        }
                    }
                }
            }

            .success {
                border-radius: 3px;

                section {
                    h2 {
                        color: $font2;
                    }

                    p {
                        color: $font2;
                    }

                    a {
                        color: $link2;
                    }

                    a:hover {
                        color: $link2Hover;
                    }
                }
            }
        }
    }
}