nav {
  z-index: 1;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  position: fixed;
  height: 80px;
  width: 100vw;
}

nav .hamburger {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-right: 15px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

nav .hamburger img {
  height: auto;
  width: 85%;
}

nav ul {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 30px;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  padding-top: 80px;
  background: #f4fafc;
  text-align: center;
  -webkit-transition: all .5s;
  transition: all .5s;
  list-style: none;
}

nav ul li {
  line-height: 50px;
  -webkit-transition: all .5s;
  transition: all .5s;
  border-bottom: solid 3px #61d0d8;
  width: 70%;
}

nav ul li a {
  color: black;
  font-size: 24px;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

nav ul .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 25px;
          column-gap: 25px;
  height: 50px;
  border: none;
  margin: 100px auto 0;
}

nav ul .links a {
  height: 80%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-weight: bold;
}

nav ul .links a img {
  height: 100%;
  width: auto;
}

aside {
  left: 0;
  bottom: 0;
  position: fixed;
  height: auto;
  width: 55px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

aside ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  row-gap: 25px;
}

aside ul li {
  height: 35px;
}

aside ul li a {
  color: black;
  text-decoration: none;
  font-size: 26px;
  font-weight: bold;
}

aside ul li a img {
  height: 100%;
  width: auto;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* body {
  overflow: visible;
  background-color: #e2f1fa;
}

* body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 200px;
  padding: 10%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#e2f1fa), color-stop(#f4fafc), to(#e2f1fa));
  background-image: linear-gradient(to bottom right, #e2f1fa, #f4fafc, #e2f1fa);
  border-radius: 10px;
}

* body main .about img {
  display: block;
  width: 90%;
  margin: 0 auto;
  border-radius: 3px;
}

* body main .about .hello {
  padding: 15px 0 0 0;
}

* body main .about .hello h1 {
  font-size: 28px;
}

* body main .about .hello p {
  font-size: 18px;
  padding: 10px 0 0 0;
  font-style: italic;
  color: #292f37;
}

* body main .about a {
  text-decoration: none;
}

* body main .about a #download {
  display: block;
  background-color: #ac51fc;
  border: none;
  border-radius: 3px;
  color: #f4fafc;
  font-size: 18px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

* body main .about a #download:hover {
  background-color: #995dcd;
}

* body main .skills {
  width: 100%;
}

* body main .skills h2 {
  padding: 0 0 20px 0;
  font-size: 24px;
}

* body main .skills label {
  font-size: 18px;
}

* body main .skills .progress-bar-container {
  width: 100%;
  height: 40px;
  background-color: #cbdfea;
  border-radius: 3px;
  overflow: hidden;
  margin: 10px 0 20px 0;
  position: relative;
}

* body main .skills .progress-bar-container .progress-bar-indicator {
  height: 100%;
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0);
  mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  mask: linear-gradient(#fff 0 0);
}

* body main .skills .progress-bar-container .progress-bar-indicator::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffae7f), color-stop(#ff9354), to(#ff6a13));
  background-image: linear-gradient(to right, #ffae7f, #ff9354, #ff6a13);
}

* body main .skills .progress-bar-container #html {
  width: 85%;
  -webkit-animation: html 1.5s ease;
          animation: html 1.5s ease;
}

@-webkit-keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}

@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}

* body main .skills .progress-bar-container #css {
  width: 75%;
  -webkit-animation: css 1.5s ease;
          animation: css 1.5s ease;
}

@-webkit-keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}

@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}

* body main .skills .progress-bar-container #js {
  width: 45%;
  -webkit-animation: js 1.5s ease;
          animation: js 1.5s ease;
}

@-webkit-keyframes js {
  0% {
    width: 0%;
  }
  100% {
    width: 45%;
  }
}

@keyframes js {
  0% {
    width: 0%;
  }
  100% {
    width: 45%;
  }
}

* body main .skills .progress-bar-container #php {
  width: 35%;
  -webkit-animation: php 1.5s ease;
          animation: php 1.5s ease;
}

@-webkit-keyframes php {
  0% {
    width: 0%;
  }
  100% {
    width: 35%;
  }
}

@keyframes php {
  0% {
    width: 0%;
  }
  100% {
    width: 35%;
  }
}

* body main .skills .progress-bar-container #sql {
  width: 35%;
  -webkit-animation: sql 1.5s ease;
          animation: sql 1.5s ease;
}

@-webkit-keyframes sql {
  0% {
    width: 0%;
  }
  100% {
    width: 35%;
  }
}

@keyframes sql {
  0% {
    width: 0%;
  }
  100% {
    width: 35%;
  }
}

* body main .portfolio h2 {
  padding: 0 0 20px 0;
}

* body main .portfolio p {
  padding: 0 0 20px 0;
  font-size: 18px;
}

* body main .portfolio h3 {
  padding: 0 0 10px 0;
}

* body main .portfolio video {
  width: 100%;
  z-index: -1;
  border-radius: 3px;
}

* body main .links h2 {
  font-size: 24px;
  padding: 0 0 20px 0;
}

* body main .links ul li {
  list-style: none;
  padding: 0 0 20px 0;
}

* body main .links ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #299df5;
}

* body main .links ul li a img {
  width: 35px;
  height: auto;
  margin-right: 20px;
}

* body main .links ul li a:hover {
  color: #00bfff;
  text-decoration: underline;
}

* body main .contact {
  width: 100%;
}

* body main .contact #honey {
  display: none;
}

* body main .contact h2 {
  font-size: 24px;
  padding: 0 0 20px 0;
}

* body main .contact p {
  font-size: 18px;
}

* body main .contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  margin-top: 20px;
}

* body main .contact form input {
  height: 50px;
  border: none;
  border-radius: 2px;
  background-color: #cbdfea;
  font-size: 18px;
  padding: 0 10px;
  caret-color: #292f37;
}

* body main .contact form input:-webkit-autofill,
* body main .contact form input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px #cbdfea inset;
          box-shadow: 0 0 0 30px #cbdfea inset;
  -webkit-text-fill-color: #292f37;
}

* body main .contact form input::-webkit-input-placeholder {
  font-style: italic;
  color: #292f37;
}

* body main .contact form input:-ms-input-placeholder {
  font-style: italic;
  color: #292f37;
}

* body main .contact form input::-ms-input-placeholder {
  font-style: italic;
  color: #292f37;
}

* body main .contact form input::placeholder {
  font-style: italic;
  color: #292f37;
}

* body main .contact form input:focus {
  outline: none;
}

* body main .contact form input:hover {
  outline: none;
}

* body main .contact form input:focus::-webkit-input-placeholder {
  color: transparent;
}

* body main .contact form input:focus:-ms-input-placeholder {
  color: transparent;
}

* body main .contact form input:focus::-ms-input-placeholder {
  color: transparent;
}

* body main .contact form input:focus::placeholder {
  color: transparent;
}

* body main .contact form #email {
  text-transform: lowercase;
}

* body main .contact form #email::-webkit-input-placeholder {
  text-transform: none;
}

* body main .contact form #email:-ms-input-placeholder {
  text-transform: none;
}

* body main .contact form #email::-ms-input-placeholder {
  text-transform: none;
}

* body main .contact form #email::placeholder {
  text-transform: none;
}

* body main .contact form #email:focus::-webkit-input-placeholder {
  text-transform: none;
}

* body main .contact form #email:focus:-ms-input-placeholder {
  text-transform: none;
}

* body main .contact form #email:focus::-ms-input-placeholder {
  text-transform: none;
}

* body main .contact form #email:focus::placeholder {
  text-transform: none;
}

* body main .contact form #email:focus {
  text-transform: lowercase;
}

* body main .contact form textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #cbdfea;
  border: none;
  border-radius: 2px;
  min-height: 200px;
  max-width: 100%;
  resize: vertical;
  font-size: 18px;
  padding: 10px;
  caret-color: #292f37;
  overflow-y: scroll;
  resize: none;
  overflow: auto;
}

* body main .contact form textarea::-webkit-input-placeholder {
  font-style: italic;
  color: #292f37;
}

* body main .contact form textarea:-ms-input-placeholder {
  font-style: italic;
  color: #292f37;
}

* body main .contact form textarea::-ms-input-placeholder {
  font-style: italic;
  color: #292f37;
}

* body main .contact form textarea::placeholder {
  font-style: italic;
  color: #292f37;
}

* body main .contact form textarea:focus {
  outline: none;
}

* body main .contact form textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

* body main .contact form textarea:focus:-ms-input-placeholder {
  color: transparent;
}

* body main .contact form textarea:focus::-ms-input-placeholder {
  color: transparent;
}

* body main .contact form textarea:focus::placeholder {
  color: transparent;
}

* body main .contact form #send {
  width: 60%;
  margin: 5px auto 0;
  right: 0;
  background-color: #ac51fc;
  color: #f4fafc;
  cursor: pointer;
}

* body main .contact form #send:hover {
  background-color: #995dcd;
}

* #successBody {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* #successBody .success {
  padding: 10%;
}

* #successBody .success section h2 {
  font-size: 24px;
  padding: 0 0 20px 0;
}

* #successBody .success section p {
  padding: 0 0 10px 0;
}

* #successBody .success section a {
  text-decoration: none;
  color: #61d0d8;
}

* #successBody .success section a:hover {
  text-decoration: underline;
  color: #67b6f4;
}

@media only screen and (min-width: 768px) {
  * body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  * body nav {
    display: none;
  }
  * body aside {
    display: none;
  }
  * body main {
    width: 80vw;
    padding: 8%;
    row-gap: 150px;
  }
  * body main .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    -webkit-column-gap: 50px;
            column-gap: 50px;
  }
  * body main .about img {
    width: 250px;
    margin: 0;
  }
  * body main .about .hello {
    padding: 0;
    margin: auto 0 0px;
  }
  * body main .about .hello h1 {
    font-size: 38px;
  }
  * body main .about .hello p {
    font-size: 22px;
  }
  * body main .about .hello #download {
    font-size: 24px;
    margin-top: 25px;
  }
  * body main .skills h2 {
    font-size: 36px;
    padding: 0 0 40px 0;
  }
  * body main .skills label {
    font-size: 20px;
  }
  * body main .skills .skill {
    height: 50px;
    margin: 10px 0 20px;
  }
  * body main .portfolio h2 {
    font-size: 36px;
    padding: 0 0 40px 0;
  }
  * body main .portfolio p {
    padding: 0 0 20px 0;
    font-size: 20px;
  }
  * body main .portfolio h3 {
    padding: 0 0 10px 0;
    font-size: 22px;
  }
  * body main .links h2 {
    font-size: 36px;
    padding: 0 0 40px 0;
  }
  * body main .links ul li a {
    font-size: 20px;
  }
  * body main .links ul li a img {
    width: 40px;
  }
  * body main .contact {
    width: 100%;
  }
  * body main .contact h2 {
    font-size: 36px;
    padding: 0 0 40px 0;
  }
  * body main .contact p {
    font-size: 20px;
  }
  * body main .contact form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    row-gap: 15px;
    -webkit-column-gap: 2.4%;
            column-gap: 2.4%;
  }
  * body main .contact form input {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    height: 50px;
    font-size: 20px;
  }
  * body main .contact form #name {
    width: 48.8%;
  }
  * body main .contact form #email {
    width: 48.8%;
  }
  * body main .contact form #subject {
    width: 100%;
  }
  * body main .contact form textarea {
    width: 100%;
    font-size: 20px;
  }
  * body main .contact form #send {
    width: 100%;
  }
  * #successBody .success {
    width: 80vw;
    padding: 8%;
    margin: 0 auto;
  }
  * #successBody .success section h2 {
    font-size: 36px;
    padding: 0 0 40px 0;
  }
  * #successBody .success section p {
    padding: 0 0 20px 0;
    font-size: 20px;
  }
  * #successBody .success section a {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  * body main {
    width: 72vw;
  }
  * #successBody .success {
    width: 72vw;
  }
}

@media only screen and (min-width: 1440px) {
  * body main {
    width: 64vw;
  }
  * #successBody .success {
    width: 64vw;
  }
}

@media only screen and (min-width: 2560px) {
  * body main {
    width: 48vw;
  }
  * #successBody .success {
    width: 48vw;
  }
}

@media (prefers-color-scheme: dark) {
  * body {
    background-color: #1a1a30;
  }
  * body main {
    background-image: -webkit-gradient(linear, left top, right bottom, from(#1a1a30), color-stop(#14171c), to(#1a1a30));
    background-image: linear-gradient(to bottom right, #1a1a30, #14171c, #1a1a30);
  }
  * body main .about .hello h1 {
    color: #eaeaea;
  }
  * body main .about .hello p {
    color: #eaeaea;
  }
  * body main .about a #download {
    background-color: #0edb94;
    color: #14171c;
  }
  * body main .about a #download:hover {
    background-color: #08f6a2;
  }
  * body main .skills h2 {
    color: #eaeaea;
  }
  * body main .skills label {
    color: #eaeaea;
  }
  * body main .skills .progress-bar-container {
    background-color: #272838;
  }
  * body main .skills .progress-bar-container .progress-bar-indicator::before {
    background-image: -webkit-gradient(linear, left top, right top, from(#463fb7), color-stop(#6644d1), to(#7d43b2));
    background-image: linear-gradient(to right, #463fb7, #6644d1, #7d43b2);
  }
  * body main .portfolio h2 {
    color: #eaeaea;
  }
  * body main .portfolio p {
    color: #eaeaea;
  }
  * body main .portfolio h3 {
    color: #eaeaea;
  }
  * body main .links h2 {
    color: #eaeaea;
  }
  * body main .links ul li a {
    color: #ffd679;
  }
  * body main .links ul li a #linkedin {
    content: url(img/svg/linkedin-darkmode.svg);
  }
  * body main .links ul li a #github {
    content: url(img/svg/github-darkmode.svg);
  }
  * body main .links ul li a #paperplane {
    content: url(img/svg/paper-plane-darkmode.svg);
  }
  * body main .links ul li a:hover {
    color: #ffb300;
  }
  * body main .contact h2 {
    color: #eaeaea;
  }
  * body main .contact p {
    color: #eaeaea;
  }
  * body main .contact form input {
    color: #eaeaea;
    background-color: #272838;
    caret-color: #eaeaea;
  }
  * body main .contact form input:-webkit-autofill,
  * body main .contact form input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px #272838 inset;
            box-shadow: 0 0 0 30px #272838 inset;
    -webkit-text-fill-color: #eaeaea;
  }
  * body main .contact form input::-webkit-input-placeholder {
    color: #eaeaea;
  }
  * body main .contact form input:-ms-input-placeholder {
    color: #eaeaea;
  }
  * body main .contact form input::-ms-input-placeholder {
    color: #eaeaea;
  }
  * body main .contact form input::placeholder {
    color: #eaeaea;
  }
  * body main .contact form textarea {
    background-color: #272838;
    caret-color: #eaeaea;
    color: #eaeaea;
  }
  * body main .contact form textarea::-webkit-input-placeholder {
    color: #eaeaea;
  }
  * body main .contact form textarea:-ms-input-placeholder {
    color: #eaeaea;
  }
  * body main .contact form textarea::-ms-input-placeholder {
    color: #eaeaea;
  }
  * body main .contact form textarea::placeholder {
    color: #eaeaea;
  }
  * body main .contact form #send {
    background-color: #0edb94;
    color: #14171c;
  }
  * body main .contact form #send:hover {
    background-color: #08f6a2;
  }
  * #successBody .success section h2 {
    color: #eaeaea;
  }
  * #successBody .success section p {
    color: #eaeaea;
  }
  * #successBody .success section a {
    color: #ffd679;
  }
  * #successBody .success section a:hover {
    color: #ffb300;
  }
}
/*# sourceMappingURL=style.css.map */