@import "_color";
@import "_nav";
@import "_aside";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overscroll-behavior: none;

    body {
        overflow: visible;
        background-color: $body;

        main {
            display: flex;
            flex-direction: column;
            row-gap: 200px;
            padding: 10%;
            background-color: $main;

            .about {
                img {
                    display: block;
                    width: 90%;
                    margin: 0 auto;
                    border-radius: 3px;
                }

                .hello {
                    padding-top: 15px;

                    h1 {
                        font-size: 28px;
                    }

                    p {
                        font-size: 18px;
                        margin-top: 10px;
                        font-style: italic;
                        color: $font1;
                    }
                }

                a {
                    text-decoration: none;

                    #download {
                        display: block;
                        background-color: $accent;
                        border: none;
                        border-radius: 3px;
                        color: white;
                        font-size: 18px;
                        padding: 10px 20px;
                        margin-top: 10px;
                        cursor: pointer;
                    }

                    #download:hover {
                        background-color: $altAccent;
                    }
                }
            }

            .skills {
                width: 100%;

                h2 {
                    margin-bottom: 20px;
                    font-size: 24px;
                }

                label {
                    font-size: 18px;
                }

                .skill {
                    width: 100%;
                    height: 40px;
                    background-color: $input;
                    border-radius: 3px;
                    overflow: hidden;
                    margin: 5px 0;

                    #html {
                        width: 85%;
                        height: 100%;
                        background-color: $accent;
                        text-align: right;
                        padding: 9px;
                    }

                    // #html:hover {
                    //     background-color: $altAccent;
                    // }

                    #css {
                        width: 75%;
                        height: 100%;
                        background-color: $accent;
                        text-align: right;
                        padding: 9px;
                    }

                    // #css:hover {
                    //     background-color: $altAccent;
                    // }

                    #js {
                        width: 45%;
                        height: 100%;
                        background-color: $accent;
                        text-align: right;
                        padding: 9px;
                    }

                    // #js:hover {
                    //     background-color: $altAccent;
                    // }

                    #php {
                        width: 35%;
                        height: 100%;
                        background-color: $accent;
                        text-align: right;
                        padding: 9px;
                    }

                    // #php:hover {
                    //     background-color: $altAccent;
                    // }

                    #sql {
                        width: 35%;
                        height: 100%;
                        background-color: $accent;
                        text-align: right;
                        padding: 9px;
                    }

                    // #sql:hover {
                    //     background-color: $altAccent;
                    // }
                }
            }

            .portfolio {
                h2 {
                    margin-bottom: 20px;
                }

                p {
                    margin-bottom: 20px;
                    font-size: 18px;
                }

                h3 {
                    margin-bottom: 10px;
                }

                video {
                    width: 100%;
                    z-index: -1;
                    border-radius: 3px;
                }
            }

            .links {

                h2 {
                    font-size: 24px;
                    margin-bottom: 20px;
                }

                ul {
                    li {
                        list-style: none;
                        margin-bottom: 20px;

                        a {
                            font-size: 18px;
                            text-decoration: none;
                            color: $accent;

                            img {
                                width: 35px;
                                height: auto;
                                margin-right: 20px;
                            }
                        }

                        a:hover {
                            text-decoration: underline;
                            color: $altAccent;
                        }
                    }
                }
            }

            .contact {
                width: 100%;

                #honey {
                    display: none;
                }

                h2 {
                    font-size: 24px;
                    margin-bottom: 20px;
                }

                p {
                    font-size: 18px;
                }

                form {
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;
                    margin-top: 20px;

                    input {
                        height: 50px;
                        border: none;
                        border-radius: 2px;
                        background-color: $input;
                        font-size: 18px;
                        padding: 0 10px;
                        caret-color: $font1;
                    }

                    input:-webkit-autofill,
                    input:-webkit-autofill:hover,
                    input:-webkit-autofill:focus,
                    input:-webkit-autofill:active {
                        box-shadow: 0 0 0 30px $input inset !important;
                    }

                    input::placeholder {
                        font-style: italic;
                        color: $font1;
                    }

                    input:focus {
                        outline: none;
                        // border-bottom: solid 4px $accent;
                    }

                    input:hover {
                        outline: none;
                    }

                    input:focus::placeholder {
                        color: transparent;
                    }

                    #email {
                        text-transform: lowercase;
                    }

                    #email::placeholder {
                        text-transform: none;
                    }

                    #email:focus::placeholder {
                        text-transform: none;
                    }

                    #email:focus {
                        text-transform: lowercase;
                    }

                    textarea {
                        box-sizing: border-box;
                        background-color: $input;
                        border: none;
                        border-radius: 2px;
                        min-height: 200px;
                        max-width: 100%;
                        resize: vertical;
                        font-size: 18px;
                        padding: 10px;
                        caret-color: $font1;
                        overflow-y: scroll;
                        resize: none;
                        overflow: auto;
                    }

                    textarea::placeholder {
                        font-style: italic;
                        color: $font1;
                    }

                    textarea:focus {
                        outline: none;
                    }

                    textarea:focus::placeholder {
                        color: transparent;
                    }

                    #send {
                        width: 60%;
                        margin: 5px auto 0;
                        right: 0;
                        background-color: $accent;
                        color: $main;
                        cursor: pointer;
                    }

                    #send:hover {
                        background-color: $altAccent;
                        border-bottom: none;
                    }
                }
            }
        }

        .success {
            section {
                h2 {
                    font-size: 24px;
                    padding: 0 0 20px 0;
                }

                p {
                    padding: 0 0 10px 0;
                }

                a {
                    text-decoration: none;
                    color: $accent;
                }

                a:hover {
                    text-decoration: underline;
                    color: $altAccent;
                }
            }
        }
    }

    @media only screen and (min-width: 768px) {

        body {

            nav {
                display: none;
            }

            display: grid;
            grid-template-columns: 80vw;
            grid-template-areas: "main";
            justify-content: center;

            aside {
                display: none;
            }

            main {
                width: 100%;
                padding: 10%;
                margin: 0 auto;
                row-gap: 150px;

                .about {
                    display: flex;
                    justify-content: center;
                    padding: 0;
                    column-gap: 50px;

                    img {
                        width: 250px;
                        margin: 0;
                    }

                    .hello {
                        padding: 0;
                        margin: auto 0 0px;

                        h1 {
                            font-size: 32px;
                        }

                        p {
                            font-size: 20px;
                        }

                        #download {
                            font-size: 24px;
                            margin-top: 25px;
                        }
                    }
                }

                .skills {

                    h2 {
                        font-size: 30px;
                    }

                    label {
                        font-size: 20px;
                    }

                    .skill {
                        height: 50px;
                        margin: 10px 0 20px;
                    }
                }

                .portfolio {
                    h2 {
                        font-size: 30px;
                        margin-bottom: 20px;
                    }

                    p {
                        margin-bottom: 20px;
                        font-size: 20px;
                    }

                    h3 {
                        margin-bottom: 10px;
                        font-size: 20px;
                    }
                }

                .links {
                    h2 {
                        font-size: 30px;
                    }

                    ul {
                        li {
                            a {
                                font-size: 22px;

                                img {
                                    width: 40px;
                                }
                            }
                        }
                    }
                }

                .contact {
                    width: 100%;

                    h2 {
                        font-size: 30px;
                    }

                    p {
                        font-size: 20px;
                    }

                    form {
                        flex-wrap: wrap;
                        flex-direction: row;
                        row-gap: 15px;
                        column-gap: 2.4%;

                        input {
                            flex-shrink: 0;
                            height: 50px;
                            font-size: 20px;
                        }

                        #name {
                            width: 48.8%;
                        }

                        #email {
                            width: 48.8%;
                        }

                        #subject {
                            width: 100%;
                        }

                        textarea {
                            width: 100%;
                            font-size: 20px;
                        }

                        #send {
                            width: 100%;
                        }
                    }
                }
            }

            .success {
                padding: 5% 10% 10% 10%;
                margin: 10% auto;

                section {
                    h2 {
                        font-size: 30px;
                        padding: 0 0 20px 0;
                    }

                    p {
                        padding: 0 0 10px 0;
                        font-size: 20px;
                    }

                    a {
                        right: 0;
                        font-size: 20px;
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 1024px) {
        body {
            main {
                padding: 10%;
                width: 90%;
            }
        }
    }

    @media only screen and (min-width: 1440px) {
        body {
            main {
                padding: 10%;
                width: 80%;
            }
        }
    }

    @media only screen and (min-width: 2560px) {
        body {
            main {
                padding: 10%;
                width: 60%;
            }
        }
    }

    @media (prefers-color-scheme: dark) {

        body {
            background-color: $darkBody;

            main {
                background-color: $darkMain;

                .about {
                    .hello {
                        h1 {
                            color: white;
                        }

                        p {
                            color: $darkFont1;
                        }
                    }

                    a {

                        #download {
                            background-color: $darkAccent;
                            color: $darkMain;
                        }

                        #download:hover {
                            background-color: $darkAltAccent;
                        }
                    }
                }

                .skills {

                    h2 {

                        color: $darkFont1;
                    }

                    label {
                        color: $darkFont1;
                    }

                    .skill {
                        background-color: $darkInput;

                        #html {
                            background-color: $darkAccent;
                            color: $darkMain;
                        }

                        // #html:hover {
                        //     background-color: $darkAltAccent;
                        // }

                        #css {
                            background-color: $darkAccent;
                            color: $darkMain;
                        }

                        // #css:hover {
                        //     background-color: $darkAltAccent;
                        // }

                        #js {
                            background-color: $darkAccent;
                            color: $darkMain;
                        }

                        // #js:hover {
                        //     background-color: $darkAltAccent;
                        // }

                        #php {
                            background-color: $darkAccent;
                            color: $darkMain;
                        }

                        // #php:hover {
                        //     background-color: $darkAltAccent;
                        // }

                        #sql {
                            background-color: $darkAccent;
                            color: $darkMain;
                        }

                        // #sql:hover {
                        //     background-color: $darkAltAccent;
                        // }
                    }
                }

                .portfolio {
                    h2 {
                        color: $darkFont1;
                    }

                    p {
                        color: $darkFont1;
                    }

                    h3 {
                        color: $darkFont1;
                    }
                }

                .links {

                    h2 {
                        color: $darkFont1;
                    }

                    ul {
                        li {
                            a {
                                color: $darkAccent;

                                #linkedin {
                                    content: url(img/svg/linkedin-brands-grey.svg);
                                }
                                
                                #github {
                                    content: url(img/svg/github-brands-grey.svg);
                                }

                                #paperplane {
                                    content: url(img/svg/paper-plane-solid-grey.svg);
                                }


                            }

                            a:hover {
                                color: $darkAltAccent;
                            }
                        }
                    }
                }

                .contact {
                    h2 {
                        color: $darkFont1;
                    }

                    p {
                        color: $darkFont1;
                    }

                    form {

                        input {
                            color: $darkFont1;
                            background-color: $darkInput;
                            caret-color: $darkFont1;
                        }

                        input:-webkit-autofill,
                        input:-webkit-autofill:hover,
                        input:-webkit-autofill:focus,
                        input:-webkit-autofill:active {
                            box-shadow: 0 0 0 30px $darkInput inset !important;
                        }

                        input::placeholder {
                            color: $darkFont1;
                        }

                        textarea {
                            background-color: $darkInput;
                            caret-color: $darkFont1;
                            color: $darkFont1;
                        }

                        textarea::placeholder {
                            color: $darkFont1;
                        }

                        #send {
                            background-color: $darkAccent;
                            color: $darkMain;
                        }

                        #send:hover {
                            background-color: $darkAltAccent;
                        }
                    }
                }
            }

            .success {
                section {
                    h2 {
                        color: $darkFont1;
                    }

                    p {
                        color: $darkFont1;
                    }

                    a {
                        color: $darkAccent;
                    }

                    a:hover {
                        color: $darkAltAccent;
                    }
                }
            }
        }
    }
}